<div class="p-3 mb-2 bg-lighg-rey text-white">
<%#This was used to set the page background %> 

<h1 class="text-center mt-4">ARTICLES LISTING PAGE</h1>

<div class="flickr_pagination">
    <%= will_paginate @articles, :container => false %>
</div>

 <%= render 'article' %> 

<div class="flickr_pagination">
    <%= will_paginate @articles, :container => false %>
</div>