
    <h1 class="text-center mt-4">Create A New Category</h1>
    <div class="container">
  
  <div class="row justify-content-center">
    <div class="col-10">
    <%= render 'form' %>
      
      </div>
  <%= link_to '[ Cancel and return to categories listing ]', category_path(@category), class: "d-flex justify-content-center mb-3 text-info" %>    
</div>
